.container{
    margin: 50;
    padding: 10;
}

.row{
    text-align: center;
}

p, h4{
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #cfd9df;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	background-color: rgba(255, 82, 82, 1);
	border-radius: 50%;
	animation: pulse-red 2s infinite;
	height: 40px;
	width: 40px;
}


@keyframes pulse-red {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

