/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');


/* BARRA DE NAVEGAÇÃO */





.form-control, .form-row{
  margin-top: 5px;
  margin-bottom: 5px;
}

#service{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#serviceRow{

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#encomendeARTE{
    text-decoration: none;
    font-weight: 500px;
    color: #444444;
}

#tituloContato{
    font-size: 36px;
    color: rgb(55, 55, 55);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    text-transform: uppercase;
}
#tituloContato:after {
    content: "";
    position: absolute;
    width: 9.9%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #444444;
}

#quoteA{
    size: 15px;
    color: darkgoldenrod;
}

#quoteB{
   
    size: 15px;
    color: darkgoldenrod;
}

#mostText{
    line-height: 20px;
}
#single{
    line-height: 55px;
    padding: 20px -10px 20px 45px;
    font-size: 18px;
  
}

.gallery-title
{
    font-size: 36px;
    color: rgb(109, 57, 57);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #444444;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid rgb(255, 179, 0);
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 179, 0);
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 179, 0);
    border: 1px solid rgb(255, 179, 0);
    color: azure;

}



.btn-default:active .filter-button:active
{
    background-color: rgb(255, 179, 0);
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 16px;
}


/*tags*/

.mt-4{
    font-family: 'Open Sans Condensed', sans-serif;
    color: goldenrod;
}
#museu-p {
    text-align: justify;
    font-family: 'Chilanka', cursive;
}
a{
    color: rgb(221, 161, 9);
}

.author{
    font-size: 13px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    text-align:center;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

<<<<<<< HEAD
  /*  CORES DO LAYOUT */
  /* Color Theme Swatches in Hex 
.69909732_115033923213022_1645357440876675072_n-1-hex { color: #092140; }
.69909732_115033923213022_1645357440876675072_n-2-hex { color: #707C8C; }
.69909732_115033923213022_1645357440876675072_n-3-hex { color: #F2BB16; }
.69909732_115033923213022_1645357440876675072_n-4-hex { color: #BF9C34; }
.69909732_115033923213022_1645357440876675072_n-5-hex { color: #A1A7B3; }

/* Color Theme Swatches in RGBA 
.69909732_115033923213022_1645357440876675072_n-1-rgba { color: rgba(9, 33, 64, 1); }
.69909732_115033923213022_1645357440876675072_n-2-rgba { color: rgba(112, 124, 140, 1); }
.69909732_115033923213022_1645357440876675072_n-3-rgba { color: rgba(242, 187, 22, 1); }
.69909732_115033923213022_1645357440876675072_n-4-rgba { color: rgba(191, 156, 52, 1); }
.69909732_115033923213022_1645357440876675072_n-5-rgba { color: rgba(161, 167, 179, 1); }

*/
=======
  /* coração footer*/

  .lds-heart {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
    transform-origin: 32px 32px;
  }
  .lds-heart div {
    top: 23px;
    left: 19px;
    position: absolute;
    width: 26px;
    height: 26px;
    background: rgb(250, 142, 142);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background: rgb(250, 142, 142);
  }
  .lds-heart div:before {
    left: -17px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -17px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  
>>>>>>> 2fd2e686847abb8edc7d705b9ebf88732dc1d994
