@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

.nome, .tooplate{
    color: darkgoldenrod;

}



.linguas .parcial .info .percentagem-num{
    top: 0;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}

.linguas .parcial .info .nome{
    top: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    
}

#service{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#serviceRow{

    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


#tituloContato{
    font-size: 36px;
    color: rgb(55, 55, 55);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    text-transform: uppercase;
}
#tituloContato:after {
    content: "";
    position: absolute;
    width: 9.9%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #444444;
}


.gallery-title
{
    font-size: 36px;
    color: rgb(55, 55, 55);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #444444;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid rgb(255, 179, 0);
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 179, 0);
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 179, 0);
    border: 1px solid rgb(255, 179, 0);
    color: azure;

}
.btn-default:active .filter-button:active
{
    background-color: rgb(255, 179, 0);
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 16px;
}




