*{
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

body, div{
    display: block;
    width: 100%;
    margin: 0px;
}

.box{
    background-color: rgb(248, 248, 248);
    padding: 25px 80px;

}

h4, .tituPanda{
    text-align: center;
    color: 

}
img{
    padding: 25px 1px;
}
.github{
    padding: 6px 1px;
    background-color: rgb(255, 238, 0);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 217, 0, 0.904);
}

.pingu-footer{
    text-align: center;
    padding: 25px 5px -5px;
}