@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Reenie+Beanie&display=swap');
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #3e606f;
  font-family: Roboto;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;
    background-color: #CFDBD5;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &:before {
    bottom: 15vh;
    border-radius: 45%;
    animation-duration: 10s;
  }

  &:after {
    bottom: 12vh;
    opacity: 0.5;
    border-radius: 47%;
    animation-duration: 10s;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

h1,
h2 {
  color: #3e606f;
  z-index: 10;
  margin: 0;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

h1 {
  font-size: 36px;

  @media (min-width: 480px) {
    font-size: 15.5vw;
    font-family: 'Reenie Beanie', cursive;
  }
}

h2 {
  font-size: 14px;

  @media (min-width: 480px) {
    font-size: 3vw;
  }
}
legend{
    font-size: 18px;
}

a{
    background-color: #F5CB5C;
    border: 2px solid #e3b22b;
    color: #242423;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    text-decoration: dotted;
    font-weight: 400 !important;
}