.navbar{
  background-color: #f5f5f5;
  padding: 1%;
  margin-bottom: 2%;
  box-shadow: #000;
}
.navbar a{
  color: #b6b31f;
  font-weight: 700;
  margin-left: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: medium;
}

.container{
  align-items: center;
  align-content: center;
}

footer{
  background-color: #f5f5f5;
  padding: 5%;
  margin-top: 5%;
  bottom: fixed;
}
footer a{
  color: #b6b31f;
  font-weight: 700;
}
footer .col-4 a{
  color: dimgrey;
  border-bottom: 4px solid #ddd902;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
}
footer .col-4 a:hover{
  color: #b6b31f;
}