
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    width: 100vw;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;

    font-size: 18px;
    color: #1D1C1B;
    font-style: normal;
}

header .header-left{
    display: flex;
    flex-direction: row;

    padding: 10px 0 0 50px;
}

header .header-left img{
    height: 55px;
}

header .header-right{
    display: flex;
    flex-direction: row;

    padding: 10px 50px 0 0;
}

header .header-right .menu{
    margin: 0 20px 0 20px;
}

header .header-right .menu ul{
    display: flex;
    flex-direction: row;
}

header .header-right .menu ul li{
    margin: 0 30px 0 30px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
header .header-right .menu li a{
    text-decoration: none;
    color: #1D1C1B;
}
/* menu links (animação do risquinho) */
.header-right .menu ul li{
    position: relative;
    text-decoration: none; 
  }
  
  .header-right .menu ul li:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FF8E00;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .header-right .menu ul li:hover:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
  /* ---------------------- */

header .header-right .menu ul .active{
    font-weight: bold;
}

header .header-right .social{
    margin: 0 30px 0 20px;
}

header .header-right .social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .header-right .social ul li{
    margin: 0 0 0 20px;

    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-right .social ul li img{
    height: 18px;
}

/* container */
.container{
    align-items: center; 
    padding: 8vh 5vh 0vh 8vh;
}

.container h1{
    font-size: 52px;
    font-family: 'DM Serif Display', serif;
    padding-top: 20px;
    padding-bottom: 10px;
}
.container p{
    text-align: justify;
    max-width: 100%;
    line-height: 2.5vh;
}
.container img{
    max-width: 100%;
}

h3{
    font-size: 2vh;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
}


/* configuração de colunas de habilidades */
.container .habilidades{
    max-width: 100%;
}
.container .habilidades .column{
   float: left;
   width: 19.60%;
   text-align: left;
   margin: 2vh;
}
.container .habilidades .column li{
    list-style-type: none;
    padding-top: 8px;
}
.container .habilidades .column li::before{
    list-style-type: circle;
    content: "\00ba";
    color: #FFBC10;
    margin-left: -1em; 
    width: 1.8em;
    font-weight: bold;
}

/* Configurações do rodapé */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: #432F48;
    color: #C4C4C4;
    text-align: center;
    font-size: 1.5vh;
}

footer a{
    color: #8b626f;
    text-transform: none;
    text-decoration: none;
}
footer a:hover{
    color: #FFAA3F;
}

footer select{
    color: #a5818c;
    border: 1px solid #8b626f;
    background-color: #432F48;
    padding: 4px;
    margin-left: 8vh;
    border-radius: 5px;
}

/* cores*/
colors{
    background: #C4C4C4;
background: #FFD07E;
background: #FFFFFF;
background: #FFF3E4;
background: linear-gradient(90.03deg, #FF8E00 8.82%, #FF9410 18.73%, #FF9C1F 26.64%, #FFA22F 36.88%, #FFAF3F 46.19%, #FFBC4F 56.44%, #FFC65E 68.54%, #FFCA6E 81.11%, #FFD17E 98.2%);
background: #000000;
background: #000000;
background: #1D1C1B;
background: #4A4A4A;
background: #825060;
background: #414141;
background: #787878;
background: #432F48;
background: #FEF9FF;
background: #FF8E00;
background: #EDEDED;
background: #FFA637;
background: #1D1C1BCC;
background: #535353;
background: #838383;
background: #9B9A9A;
background: linear-gradient(0deg, #FF8E00, #FF8E00);
background: linear-gradient(180deg, #FFA637 33.33%, rgba(255, 166, 55, 0) 100%);
background: #FFB800;
background: linear-gradient(185.71deg, #FFBC10 8.18%, #FF9410 18.38%);
background: linear-gradient(185.71deg, #FFC11F 8.18%, #FF9C1F 28.59%);
background: linear-gradient(185.71deg, #FFC52F 8.18%, #FFA22F 38.79%);
background: linear-gradient(185.71deg, #FFCA3F 8.18%, #FFAA3F 48.99%);
background: linear-gradient(185.71deg, #FFCE4F 8.18%, #FFB14F 59.19%);
background: linear-gradient(185.71deg, #FFD25E 8.18%, #FFB75E 69.39%);
background: linear-gradient(185.71deg, #FFD76E 8.18%, #FFBF6E 79.6%);
background: linear-gradient(185.71deg, #FFDB7E 8.18%, #FFC57E 89.8%);
background: #FFDB7E;
background: #FFFFFFCC;

}