@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    background-color:#f8f8f8;
    font-family: 'Fira Sans';
}

.container{
    width: 100vw;
}

/******* barra de navegação *******/
.navbar{
    width: 100%;
    height: 150px;

    margin: 0px 0px 0px 0px;

    display: flex;
    justify-content: center;
    align-content: center;
}
.navbar-brand .navbar-item img{
    max-height: 2.75rem;
}
.navbar .navbar-burger span{
    font-weight: 800;
}
.navbar-menu .navbar-start .navbar-item{
    font-weight: 600;
}
.navbar-menu .navbar-start .navbar-item:hover{
    color: rgb(253, 167, 7);
}
a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(253, 167, 7);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/******* projetos grid *********/
section .projetos{
    align-items: center;
}

.title{
    font-family: 'DM Serif Display', serif;
    font-size: 4vh; 
    text-align: center;   
}
.subtitle{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2vh;    
    padding-bottom: -6px;
    text-align: center;
}

.projetos .tile .is-parent{
    align-items: center;
    justify-content: center;
    display: grid;
}

/******* rodapé *********/
.contato .subtitle{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.5vh; 
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
    line-height: 1.65;
    text-align: left;
}
.contato .subtitle strong{
    color: #ffffff;
}
.contato .subtitle h2{
    padding-bottom: 2vh;
}
.contato .subtitle a{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #825060;
    padding-right: 1rem;
}
.contato .subtitle a:hover{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(255, 187, 0);
    padding-top: 5px;
}

.contato .title{
    font-family: 'DM Serif Display', serif;
    color: #fff;
    font-size: 3vh; 
    letter-spacing: 3px;
    font-weight: 400;
    text-align: left;
}
/** sublinhado??????
.contato h1.title:after{
    content: url('../imgs/sublinhado.png');
    position: relative;
    top: -35px;

    z-index: 1;
}

.contato h1.title .detail:after{
    content: url('../imgs/detail.png');
    position: relative;

    top: -20px;
}****/

.hero{
    width: 100%;
    height: Calc(100vh - 150px);
    background-image: url("../imgs/fundodosite.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.hero-body .hero-left,
.hero-body .hero-right{
    width: 50vw;
    height: 100%;
}

.hero-body .hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-body .hero-left h1{
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}

.hero-body .hero-left h1{
    height: 180px;

    font-size: 64px;
    line-height: 74px;
    font-family: 'DM Serif Display', serif;

    z-index: 2;
    width: 550px;
}

.hero-body .hero-left h1:after{
    content: url('../imgs/sublinhado.png');
    position: relative;
    top: -45px;

    z-index: 1;
}

.hero-body .hero-left h1 .detail:after{
    content: url('../imgs/detail.png');
    position: relative;

    top: -20px;
}

.hero-body .hero-left p{
    font-size: 18px;
    width: 550px;
    margin-top: 25px;
}

.hero-body .hero-right img{
    height: 745px;
}



.infos{
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 30px;
}

.infos img{
    height: 40px;
    width: 40px;
}

.infos h2{
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-top: 20px;
    font-size: 35px;
}

.topics{
    margin: 15px 0px 0px 10px;
}

.topics ul{
    display: flex;
    flex-direction: column;
}

.topics ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px 15px 30px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
}

.topics ul li img{
    width: 15px;
    height: 15px;
}

.topics ul li p{
    margin: 0px 0px 0px 5px;
}


.softhard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #F3F3F3;
    height: 500px;
}

.softhard-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 550px;

    margin: 50px;
}

.softhard-img{
    width: 450px;
    margin: 50px;
}

.orcamento{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #432F48;
    color: #fff;
}

.orcamento h1{
    color: #fff;
}

.orcamento-box{
    display: flex;
    flex-direction: row;

    margin: 150px 0 0 0;
}

.orcamento-left{
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.orcamento-left p{
    font-size: 18px;
}

.orcamento-left h1{
    font-size: 48px;
    font-weight: bold;
    width: 300px;
}

.orcamento-left p:last-child{
    margin-top: 25px;
    font-size: 16px;
    width: 400px;

    color: rgba(255, 255, 255, 0.8);
}

.orcamento-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.orcamento-left h1:after{
    content: url('../imgs/sublinhado.png');
    position: relative;
    top: -45px;

    z-index: 1;
}

.orcamento h1 .detail:after{
    content: url('../imgs/detail.png');
    position: relative;

    top: -20px;
}

.orcamento-right label{
    color: #fff;
}




footer{
    color: #fff;
    font-size: 1.5vh;
    text-align: center;
}
footer a{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #825060;
}
footer a:hover{
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgb(255, 187, 0);
}
footer select{
    background-color: #825060;
    color: #fff;
    border: 2px solid #825060;
    border-radius: 5px;
}

/***** SOBRE PÁGINA *******/

/*Banner*/
.banner{
    background-size: cover;
    background-image: url('/vitoriazoche.github.io/assets/imgs/fundodosite2.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vh 5vh 0vh 5vh;
}
.banner .banner-left{
    padding-top: 5%;
}
.banner .title, .subtitle{
    text-align: left;
    padding-top: 20px;
    color: black;
}
.banner .banner-right img{
    height: 450px;

    z-index: 2;
}
.banner .gradient{
    width: 100vw;
    height: 200px;

    background-image: linear-gradient(transparent, #FFA637);

    z-index: 2;
    position: block;
    margin-top: -200px;
}


/****** SEÇÃO SKILLS *******/
details{
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 8px;
}
 details summary:hover{
    background-color: #ffc782;
    padding: 5px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
 }