/* 
    'Font-family' disponíveis:
    - font-family: 'DM Serif Display', serif;
    - font-family: 'DM Serif Text', serif;
    - font-family: 'Roboto', sans-serif;
*/

*{
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-x: hidden;
    width: 100vw;
}

body{
    width: 100vw;
}

main{
    width: 100vw;
    height: 100vh;

    background-image: url('../imgs/fundodosite.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 150px;

    font-size: 18px;
    color: #1D1C1B;
    font-style: normal;

    background-color: #FBFBFB;
}

header .header-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    padding: 10px 0 0 30px;
}

header .header-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-center img{
    height: 130px;
}

header .header-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding: 10px 30px 0 0;
}

header .header-left .menu{
    margin: 0 20px 0 20px;
}

header .header-left .menu ul{
    display: flex;
    flex-direction: row;
}

header .header-left .menu ul li{
    margin: 0 20px 0 20px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
header .header-left .menu li a{
    text-decoration: none;
    color: #1D1C1B;
}
/* menu links (animação do risquinho) */
.header-left .menu ul li{
    position: relative;
    text-decoration: none; 
  }
  
  .header-left .menu ul li:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FF8E00;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .header-left .menu ul li:hover:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
  /* ---------------------- */

header .header-right .menu ul .active{
    font-weight: bold;
}

header .header-right .botao-cv{
    padding: 15px 20px 15px 20px;
    background-color: #FFCC00;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-right a{
    text-decoration: none;
}

header .header-right .botao-cv p{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

header .header-right .social{
    margin: 0 30px 0 20px;
}

header .header-right .social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .header-right .social ul li{
    margin: 0 0 0 20px;

    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-right .social ul li img{
    height: 18px;
}

main{
    width: 100vw;
}

main .banner{
    width: 100%;
    height: Calc(100vh - 150px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

main .banner .banner-left{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;

    padding: 0 0 0 50px;
}

main .banner .banner-left .banner-info{
    width: 500px;
}

main .banner .banner-right{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 0 50px 0 0;
}

main .banner .banner-left .banner-info h1{
    height: 180px;

    font-size: 64px;
    line-height: 74px;
    font-family: 'DM Serif Display', serif;

    z-index: 2;
}

main .banner .banner-left .banner-info h1:after{
    content: url('../imgs/sublinhado.png');
    position: relative;
    top: -45px;

    z-index: 1;
}

main .banner .banner-left .banner-info h1 .detail:after{
    content: url('../imgs/detail.png');
    position: relative;

    top: -20px;
}

main .banner .banner-left .banner-info h4{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;

    margin: 0px 0px 0px;
}

main .banner .banner-left .banner-info p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D1C1B;

    margin: 15px 0px 40px 0px;
}

/*Botão conheça mais*/
main .banner .banner-left .banner-info a{
    border: 2px solid black;

}

main .banner .banner-left .banner-info a.work-btn{
    color: #000;
    font-size: 18px;
    border: 0px;
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    padding: 10px;
}

main .banner .banner-left .banner-info a .work-btn img{
    margin-left: 5px;
}

/* botão baixar cv*/
main .banner .banner-left .banner-info a.about-btn{
    text-decoration: none;
    padding: 20px 25px 20px 25px;
    border:3px solid #FFA637;
    border-radius: 10px;
    font-weight: 500;
    color: #ffc379;
}
main .banner .banner-left .banner-info a.about-btn:hover{
    padding: 16px 25px 16px 25px;
    border-radius: 10px;
    border:3px solid #8815a5;
    color: #8815a5;
}

/*---------------------*/

main .banner .banner-right img{
    height: 700px;

    z-index: 2;
}

main .degrade{
    width: 100vw;
    height: 200px;

    background-image: linear-gradient(transparent, #FFA637);

    z-index: 2;
    position: absolute;
    margin-top: -200px;
    
}

main .banner-right .baloes{
    display: flex;
    flex-direction: row;

    z-index: 1;

    margin-bottom: -250px;
}

main .banner-right .baloes .balao{
    width: 150px;
    height: 100px;
    background-color: #fff;

    border-radius: 5px 5px 5px 0px;

    margin: 0 60px 0 60px;
}

main .banner-right .baloes .balao:after{
    content: '';
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 30px solid #fff;

    transform: rotate(180deg);

    position: absolute;
    margin: 100px 0px 0 0;    
}

main .banner-right .baloes .balao:nth-child(1){
    position: relative;
    margin-top: 280px;
    margin-right: -100px;
}

main .banner-right .baloes .balao:nth-child(4){
    position: relative;
    margin: 250px 60px 0 -80px;
}



.clientes{
    height: 200px;
    width: 100vw;
    background-color: #FFF1DF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clientes .cliente{
    padding: 0px 30px 0px 30px;
}

.clientes .cliente img{
    width: 150px;
    filter: grayscale(100%); 
}

/* MEUS PROJETOS • PROJETOS */

.projetos{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos .projetos-title{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px 0px 0px 0px;
}

.projetos .projetos-title p,
.projetos .projetos-title h1{
    font-family: 'DM Serif Display', serif;
}

.projetos .projetos-title p{
    font-size: 24px;
}

.projetos .projetos-title h1{
    font-size: 64px;
    line-height: 74px;
    margin: 10px 0px 0px 0px;
    z-index: 2;
}

.projetos .projetos-title h1:after{
    content: url('../imgs/svgteste.svg');
    display: flex;
    flex-direction: column;
    position: relative;
    top: -55px;
    z-index: 1;
}

.projetos .projetos-title h1 .detail:after{
    content: url('../imgs/detail.png');
    position: relative;
    top: -30px;
}

.projetos .projetos-topics ul{
    display: flex;
    flex-direction: row;
}

.projetos .projetos-topics ul li{
    list-style: none;
    padding: 15px;
    background-color: #FFF3E4;
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
}

.projetos .projetos-topics ul a{
    color: #000;
    text-decoration: none;
    margin: 16px;
}

.projeto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projeto-briefing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 100px 0px 0px 0px;

    height: 350px;
    width: 100%;
}

.projeto-briefing .briefing-title{
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projeto-briefing .briefing-title h1{
    font-family: 'DM Serif Display', serif;
    color: #825060;
    letter-spacing: 2px;
    font-size: 36px;
}

.projeto-briefing .briefing-text{
    width: 750px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 0px 0px 100px;

    color: #787878;
    font-weight: 500;
}

.projeto-problem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 0px 0px;
    background-color: #432F48;

    height: 350px;
    width: 100%;
}

.projeto-problem .problem-title{
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projeto-problem .problem-title h1{
    font-family: 'DM Serif Display', serif;
    color: #FFD07E;
    letter-spacing: 2px;
    font-size: 36px;
}

.projeto-problem .problem-text{
    width: 750px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0px 0px 0px 100px;

    color: #fff;
    font-weight: 500;
}

.projeto-fluxo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 80px 0px 80px 0px;

    height: 350px;
    width: 100%;
}

.projeto-fluxo .fluxo-title{
    width: 400px;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projeto-fluxo .fluxo-title h1{
    font-family: 'DM Serif Display', serif;
    color: #825060;
    letter-spacing: 2px;
    font-size: 36px;
}

.projeto-fluxo .fluxo-text{
    width: 750px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0px 0px 0px 100px;

    color: #000;
    font-weight: 500;
}

.projeto-fluxo .fluxo-text .fluxo-box{
    height: 350px;
    width: 650px;

    background-color: #c4c4c4;
}

/* CRIANDO A 'SOLUÇÃO' */

.projeto-solution{
    width: 100%;
    height: 90vh;
    background-color: #825060;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 0 0 0;
}

.projeto-solution .solution-title h1{
    font-family: 'DM Serif Display', serif;
    color: #FFDB7E;
}

.projeto-solution .solution-text p{
    color: #fff;
    margin: 20px 0 0 0;
    width: 800px;
    text-align: justify;
}

.projeto-solution .solution-boxs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    margin: 50px 0 0 0;
}

.projeto-solution .solution-boxs .solution-box{
    width: 300px;
    height: 600px;
    background-color: #c4c4c4;

    margin: 50px;
}
.projeto-solution .solution-boxs .solution-box:nth-child(2){
    height: 700px;
}

/* CRIANDO A 'SOLUÇÃO' */

.projeto-mockup{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 150px 0 0 0;
}

.projeto-mockup .mockup-title h1{
    font-family: 'DM Serif Display', serif;
    color: #825060;
}

.projeto-mockup .mockup-images{
    display: flex;
    flex-direction: column;

    margin: 60px 0 0 0;
}

.projeto-mockup .mockup-images .mockup-image{
    width: 100vw;
    height: 600px;

    background-color: red;
}

.projeto-mockup .mockup-images .mockup-image:nth-child(1){
    background-color: #C4C4C4;
}

.projeto-mockup .mockup-images .mockup-image:nth-child(2){
    background-color: #9B9A9A;
}

.projeto-mockup .mockup-images .mockup-image:nth-child(3){
    background-color: #838383;
}

/* FOOTER • RODAPÉ */

footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 0 8px 0;
    background: #432F48;
    color: #C4C4C4;
    text-align: center;

    font-size: 1.5vh;
}
footer a{
    color: #8b626f;
    text-transform: none;
    text-decoration: none;
}
footer a:hover{
    color: #FFAA3F;
}
footer select{
    color: #a5818c;
    border: 1px solid #8b626f;
    background-color: #432F48;
    padding: 4px;
    margin-left: 8vh;
    border-radius: 5px;
}
