@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

cores{
    background: #432F48;
    background: #3D2942;
    background: #825060;
    background: #FFAA3F;
    background: #FFCC00;

}
cores.gradiente{
    background: linear-gradient(0deg, #FF8E00, #FF8E00);
    background: linear-gradient(185.71deg, #FFBC10 8.18%, #FF9410 18.38%);
    background: linear-gradient(185.71deg, #FFC11F 8.18%, #FF9C1F 28.59%);
    background: linear-gradient(185.71deg, #FFC52F 8.18%, #FFA22F 38.79%);
    background: linear-gradient(185.71deg, #FFCA3F 8.18%, #FFAA3F 48.99%);
    background: linear-gradient(185.71deg, #FFCE4F 8.18%, #FFB14F 59.19%);
    background: linear-gradient(185.71deg, #FFD25E 8.18%, #FFB75E 69.39%);
    background: linear-gradient(185.71deg, #FFD76E 8.18%, #FFBF6E 79.6%);
    background: linear-gradient(185.71deg, #FFDB7E 8.18%, #FFC57E 89.8%);

}
fontes{
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}